body{
    background-color: #212121;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 4rem;
}

p{
    font-size: 1,2rem;
}

.playground{
    border: 2px solid #fff;
    display: grid;
    gap: 0;
    grid-template-columns: repeat(10, 2rem);
    grid-template-rows: repeat(20, 2rem);
    background-color: #000;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.playground > div {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 2rem;
    height: 2rem;
    box-sizing: border-box;
}

.playground > div:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
