body{
    background-color: #212121;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 4rem;
}

p{
    font-size: 1,2rem;
}

.playground{
border: 1px solid #000;
display: grid;
gap: 0;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto  auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;

}

.playground > div{
    background-color: rgba(255,255,255,.3);
    border: 1px solid #000;
    width: 1rem;
    height: 1rem;
}
